@mixin parametros-flex($width, $display, $justify, $align) {
    width: $width;
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin scale($color, $bg-color, $scale) {
    color: $color;
    background-color: $bg-color; /* color de fondo al hacer hover sobre el boton */
    transform: scale($scale); /* para aumentar el tamaño sin que me desplace el resto del contenido */
    -moz-transform: scale($scale);
    -webkit-transform: scale($scale);
    -o-transform: scale($scale);
}