/* Colores más utilizados */

$darkbordo: #731739;
$bordo: #a62454;
$mediumbordo: #8c1c45;
$white: #fafbfd;
$lightbordo: #8c3e5b;
$lighterbordo: #a6657d;
$graylilac: #bfa4ae;
$white-2: #d7d7d9;
$black: black;
$none: transparent;



